<section
  class="py-10 md:py-20 pb-10 bg-indigo-100 dark:bg-gray-900 w-screen"
  id="faq"
>
  <div
    class="min-[280px]:max-w-[280px] min-[375px]:max-w-[330px] min-[480px]:max-w-[440px] sm:max-w-[560px]
 px-2 max-w-[600px] mx-auto text-gray-800 dark:text-gray-200"
  >
    <h2
      class="py-5 text-left text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold"
    >
      Preguntas frecuentes
    </h2>

    <details class="py-3 max-w-[600px]" name="pregunta">
      <summary class="text-lg lg:text-xl xl:text-2xl"
        >Si no tengo instrumento, ¿cómo hago?</summary
      >
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300 max-w-2xl"
      >
        Esta es la situación de la mayoría de las personas que quieren aprender
        a tocar el violoncello.
      </p>
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        Recomiendo que tomen un par de clases antes de comprar un instrumento y
        evaluar si es lo que les gusta, si es lo que imaginaban y si van a
        disponer del tiempo necesario para practicar.
      </p>
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        Una vez pasadas estas primeras clases, que podrían ser 2, 3 o 4,
        recomiendo que traten de conseguir un instrumento para poder practicar.
      </p>
    </details>

    <details class="py-3 max-w-[600px]" name="pregunta">
      <summary class="text-lg lg:text-xl xl:text-2xl"
        >¿Cuántas clases debo tomar por semana?</summary
      >
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        Una clase semanal es suficiente para la mayoría de las personas, pero
        puede darse el caso de alguien que necesite ser corregido con intervalos
        menores de tiempo.
      </p>
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        Es el alumno quien decide sobre la cantidad de clases semanales a tomar.
        No recomiendo, en etapas iniciales, que las clases sean espaciadas por
        más de 7 días.
      </p>
    </details>

    <details class="py-3 max-w-[600px]" name="pregunta">
      <summary class="text-lg lg:text-xl xl:text-2xl"
        >¿Qué libros y metodología se usa en las clases?</summary
      >
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        En este punto uno podría escribir muchísimas cosas, pero básicamente
        enseño como me enseñaron a mí y con todo lo que he aprendido en más de
        30 años de dar clases.
      </p>
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        Utilizo principalmente el Método de Dotzauer, los 3 libros, en donde se
        exponen la mayor parte de los aspectos técnicos del instrumento y
        complemento con otros libros como el de Alexanián y el de Tortelier
        entre otros.
      </p>
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        MUY IMPORTANTE: No utilizo el Método Suzuki.
      </p>
    </details>

    <details class="py-3 max-w-[600px]" name="pregunta">
      <summary class="text-lg lg:text-xl xl:text-2xl"
        >Tengo 40 años, ¿es tarde para comenzar a estudiar?</summary
      >
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        La edad no importa, cualquier persona puede aprender a tocar un
        instrumento. Solamente hay que tener en claro para que se estudia.
      </p>
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        En general trabajo con alumnos que son mayores de 14 años y tengo
        alumnos también de más de 40. Clases para niños: <a
          class="text-indigo-700 hover:text-gray-900 dark:text-indigo-400 dark:hover:text-white"
          href="/#contacto">consultar</a
        >.
      </p>
    </details>

    <details class="py-3 max-w-[600px]" name="pregunta">
      <summary class="text-lg lg:text-xl xl:text-2xl"
        >¿Cuál es el precio de las clases?</summary
      >
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        <a
          class="text-indigo-700 hover:text-gray-900 dark:text-indigo-400 dark:hover:text-white"
          href="/#planes">Ver planes</a
        >.
      </p>
    </details>

    <details class="py-3 max-w-[600px]" name="pregunta">
      <summary class="text-lg lg:text-xl xl:text-2xl"
        >¿Dónde se dictan las clases?</summary
      >
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        Estoy en Av. Córdoba y Montevideo, en el barrio de San Nicolás, Ciudad
        Autónoma de Buenos Aires.
        <a
          class="text-indigo-700 hover:text-gray-900 dark:text-indigo-400 dark:hover:text-white"
          href="/#contacto">Ver mapa</a
        >
      </p>
    </details>

    <details class="py-3 max-w-[600px]" name="pregunta">
      <summary class="text-lg lg:text-xl xl:text-2xl"
        >Me queda lejos, ¿das clases a domicilio?</summary
      >
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        NO. Pero hoy la tecnología puede ayudarnos, se puede trabajar
        perfectamente a través de cualquier aplicación de videoconferencia.
      </p>
    </details>

    <details class="py-3 max-w-[600px]" name="pregunta">
      <summary class="text-lg lg:text-xl xl:text-2xl"
        >¿Cómo me inscribo o contacto con el profesor?</summary
      >
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        No hace falta inscribirse porque NO es una academia. Son clases
        individuales conmigo y podés escribirme para resolver las dudas que
        tengas antes de iniciar.
      </p>
      <p
        class="px-6 my-3 text-base lg:text-lg xl:text-xl text-slate-700 dark:text-gray-300"
      >
        Contactame por <a
          class="text-indigo-700 hover:text-gray-900 dark:text-indigo-400 dark:hover:text-white"
          href="/#contacto">formulario o por WhatsApp</a
        >. ¡Muchas gracias!
      </p>
    </details>
  </div>
</section>
